@font-face {
    font-family: 'Dosis';
    src: url('fonts/Dosis/Dosis-Light.ttf');
}

@font-face {
    font-family: 'Poiret One';
    src: url('fonts/Poiret_One/PoiretOne-Regular.ttf');
}

@font-face {
    font-family: 'Quattrocento';
    src: url('fonts/Quattrocento/Quattrocento-Regular.ttf');
}

body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

#app {
    background-color: #fafafa;
    font-family: 'Dosis', sans-serif;
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 1%;
}

li img {
    width: 100%;
    /*height: 350px;*/
    align: middle;
}

h1 {
    background-color: rgb(66, 42, 145);
    /*box-shadow: 0px 3px 8px -2px rgba(22,6,56,1);*/
    width: 100%;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Poiret One', cursive;
    font-size: 4em;
    font-weight: lighter;
    text-align: center;
}

@media screen and (min-width: 400px) {
    h1 {
        font-size: 5em;
    }
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

li.headline {
    margin: 2% 2%;
    /*border-top: 4px solid white;*/
    box-shadow: 0px 1px 1px 0px rgba(22, 22, 22, 0.3);
    background-color: white;
    min-height: 80px;
    /*padding: 2% 2% 2% 2%;*/
    /*padding-bottom: 12px;
    padding-left: 2%;*/
    /*padding-top: 40px;*/
}


/*div.article-image, div.article-content{
    display: inline-block;
    width: 50%;
}
*/

div.article-content {
    font-family: 'Roboto', sans-serif;
    font-size: 0.97em;
    font-weight: lighter;
    text-align: justify;
    line-height: 1.5em;
    padding: 2% 2%;
}


/*inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)*/

ul.related-story-list li {
    /*border-top: 1px solid white;*/
    font-size: 0.9em;
    list-style: none;
    margin-top: 1%;
}

h2 a {
    color: rgb(63, 63, 63);
    font-size: 0.9em;
    font-weight: lighter;
    /*padding-left: 50px;*/
}

@media screen and (min-width: 400px) {
    h2 a {
        font-size: 1.1em;
    }
}

h3 {
    margin: 0;
}

h2 {
    margin: 0;
    /*padding-left: 2%;
    padding-top: 4%;
    padding-bottom: 4%;*/
    padding: 2% 1%;
}

ul a {
    text-decoration: none;
}

ul a:hover {
    text-decoration: none;
    color: rgb(238, 63, 119);
}

#filter {
    text-align: center;
    height: 5em;
    /*padding-top: 4%;*/
}

@media screen and (min-width: 500px) {
    #filter {
        height: 2em;
    }
}

#textFilter {
    background: white url(ic_search_black_24px.svg) right center no-repeat;
    border: 1px solid rgba(211, 211, 211, 0.4);
    height: 25px;
    width: 250px;
    margin-bottom: 3px;
    padding-right: 30px;
    font-family: 'Dosis', sans-serif;
    font-size: 1em;
}

#date-filter-day,
#date-filter-month,
#date-filter-year {
    height: 25px;
    width: 45px;
    padding: 0;
    border: 1px solid rgba(211, 211, 211, 0.4);
    font-family: 'Dosis', sans-serif;
    font-size: 1em;
    text-align: center;
    color: rgb(195, 195, 195);
}

button#dateFilterSubmit {
    border-radius: 0;
    height: 25px;
    width: 90px;
    padding: 0;
    border: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 1em;
    background-color: rgb(66, 42, 145);
    color: white;
}

form {
    display: inline;
}

#dateFilterForm {
    display: inline-block;
}

.related-story-list {
    display: none
}

.related-story-toggle img {
    height: 20px;
    width: 20px;
    position: absolute;
    padding-top: 2px;
}

.related-story-toggle {
    cursor: pointer;
}

.related-story-toggle:hover {
    text-decoration: none;
    color: rgb(238, 63, 145);
}

#date-filter-error {
    display: none;
    color: red;
    font-size: 0.9em;
}

.text-filter-div {
    display: inline-block;
    vertical-align: top;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
